Package: com.lh.demo
Name: demo
Depends: mobilesubstrate, firmware (>= 5.0)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: leihui
Author: leihui
Section: Tweaks
