Package: com.iosre.rootdaemond
Name: rootdaemond
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome tool of some sort!!
Maintainer: leihui
Author: leihui
Section: System
Tag: role::hacker
